/* .MuiDrawer-root MuiDrawer-docked siderBar css-1hsz34s-MuiDrawer-docked{ */
.MuiDrawer-root {
  background-color: #B11E24 !important;
}
.MuiPaper-root 
.MuiPaper-elevation 
.MuiPaper-elevation0 
.MuiDrawer-paper 
.MuiDrawer-paperAnchorLeft 
.MuiDrawer-paperAnchorDockedLeft 
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  background-color: #B11E24 !important;
}
.main-card{
  background-color: #B11E24 !important;
  border-radius: 5px;
}
.formInput{
  background-color: white !important;
  border-radius: 10px;
}
.card-img-top{
  border-radius: 50% !important;
}
.btn-save{
  background-color: #008B8B !important;
}
